[Desktop Entry]
Version=1.0
Name=Mustache Mayhem
Comment=Score points by placing virtual mustaches onto real-world faces 
Exec=/home/root/stache/runstache
Path=/home/root/stache
Icon=/home/root/stache/beaglestache.png
Terminal=false
Type=Application
